.most-selled__title {
	margin-bottom: 30px;
}

.most-selled__products {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 28px;
}

.most-selled__product-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	gap: 9px;
}

.most-selled__product-title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 22px;
	line-height: 125%;
}

.most-selled__product-text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	min-height: 51px;
	color: #4b4b4b;
}

.most-selled_product-price {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	color: var(--main-color);
}

@media (width > 768px) {
	.most-selled__product-title {
		max-width: 240px;
	}
}

@media (width <= 480px) {
	.most-selled__product-title {
		max-width: 139px;
	}
}

.most-selled__product-img {
	padding: 28px;
	width: 100%;
}

@media (width <= 480px) {
	.most-selled__product-img-wrapper {
		max-width: 156px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}














