.page {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	scroll-behavior: smooth;
	scroll-padding-top: 98px;
	scrollbar-gutter: stable;
	overflow-x: hidden;
}

.page__body {
	min-width: 375px;
	background-color: var(--bg-color);
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
}

.text-regular,
.text-light {
	font-size: 16px;
	line-height: 140%;
	color: var(--main-color);
}

.text-light {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.title-xs,
.title-sm,
.title-md {
	font-weight: 400;
	color: var(--main-color);
}

.title-xs {
	font-size: 18px;
}

.title-md {
	/* min-width 375px, max-width 992px */
	font-size: clamp(42px, 0.818rem + 0.91vw, 60px);
}

.title-sm {
	/* min-width 375px, max-width 768px */
	font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}

.global__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 56px;
}

.global__title {
	font-family: var(--second-family);
	font-weight: 400;
	text-align: center;
	font-size: 42px;
	line-height: 125%;
}

.global__text {
	font-family: var(--second-family);
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	max-width: 628px;
}

@media (width > 576px) {
	.section {
		padding-bottom: 76px;
	}

	.section-title {
		margin-bottom: 9px;
	}
}

@media (width <= 576px) {
	.section {
		padding-bottom: 80px;
	}

	.global__title {
		font-size: 28px;
	}

	.section-title {
		margin-bottom: 30px;
	}
}
